html {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header,
.content {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    background-color: #1F2937;
}

a {
    text-decoration: none;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
}

.header-link,
.hero-text {
    font-size: 18px;
    color: #E5E7EB;
}
.nav-container {
    width: 50%;
    padding-top: 16px;
    padding-bottom: 16px;
    gap: 8px;
    display: flex;
    align-items: center;
}

.hero-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.hero-main {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 400px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero-title {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.hero-image {
    width: 400px;
    height: 220px;
    margin-bottom: 40px;
    background-color: rgb(96, 109, 122);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-shrink: 0;
}

.hero-button {
    font-size: 18px;
    padding: 10px 32px;
    border-radius: 8px;
    font-weight: bold;
    background-color: #3882F6;
    color: #F9FAF8;
    border-style: none;
}

.content-container {
    display: flex;
    gap: 48px;
    margin-bottom: 128px;
}

.content-heading {
    padding: 64px;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-box {
    height: 200px;
    width: 200px;
    border: 4px solid #3882F6;
    border-radius: 8px;
}

.card-text {
    padding-top: 16px;
    width: 200px;
    text-align: center;
}

.quote-container {
    padding-top: 128px;
    padding-bottom: 128px;
    width: 100vw;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-block {
    width: 1000px;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.quote-author {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: end;
}

.action-container {
    padding: 128px;
    display: flex;
    align-items: center;
}

.action-block {
    padding-top: 64px;
    padding-bottom: 64px;
    width: 50vw;
    border-radius: 10px;
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
}

.action-content {
    color: white;
    display: flex;
    flex-direction: column;
}

.action-heading {
    font-size: 24px;
    font-weight: bold;
}

.action-button {
    padding: 10px 32px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #3882F6;
    border: 2px solid white;
    border-radius: 8px;
}
